@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="item">
        <a asp-controller="Lost" asp-action="Index">Przeglądaj jako gość</a>
    </div>
    <div class="item">
        <a asp-controller="Account" asp-action="Login">Zaloguj się</a>
    </div>
</div>
