@using Lost.Helpers;
@model Lost.Models.Zaginiony

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Context.User;
}

<h2>Dodaj</h2>
@if (AuthHelper.IsLogged(user))
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Imie" class="control-label"></label>
                    <input asp-for="Imie" class="form-control" />
                    <span asp-validation-for="Imie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nazwisko" class="control-label"></label>
                    <input asp-for="Nazwisko" class="form-control" />
                    <span asp-validation-for="Nazwisko" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Plec" class="control-label"></label>
                    <input asp-for="Plec" class="form-control" />
                    <span asp-validation-for="Plec" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataUrodzenia" class="control-label"></label>
                    <input asp-for="DataUrodzenia" class="form-control" />
                    <span asp-validation-for="DataUrodzenia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Zdjecie" class="control-label"></label>
                    <input type="file" id="files" asp-for="Zdjecie" />
                    <span asp-validation-for="Zdjecie" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Dodaj" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h1>Dodawanie dostępne jest tylko dla osób zalogowanych!</h1>
}
<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
